################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Calculator/FileContentIndex/1e7e1af9-bfe1-4bfc-a21b-23bdf58f2902.vsidx
/.vs/Calculator/FileContentIndex/51cb3537-2a65-460d-8357-61a4177b2f80.vsidx
/.vs/Calculator/FileContentIndex/57c81b60-e0a7-4ecc-913c-9c6484e9aa21.vsidx
/.vs/Calculator/FileContentIndex/a7c169e3-1231-4c53-a254-12f715a9e76e.vsidx
/.vs/Calculator/FileContentIndex/c3abef2b-e6f9-4a04-81cd-d910871e93f7.vsidx
