################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Calculator/FileContentIndex/1e7e1af9-bfe1-4bfc-a21b-23bdf58f2902.vsidx
/.vs/Calculator/FileContentIndex/51cb3537-2a65-460d-8357-61a4177b2f80.vsidx
/.vs/Calculator/FileContentIndex/57c81b60-e0a7-4ecc-913c-9c6484e9aa21.vsidx
/.vs/Calculator/FileContentIndex/a7c169e3-1231-4c53-a254-12f715a9e76e.vsidx
/.vs/Calculator/FileContentIndex/c3abef2b-e6f9-4a04-81cd-d910871e93f7.vsidx
/.vs/Calculator/FileContentIndex/4b3d8826-5b1a-4f83-a5b5-ca3e2e7a8715.vsidx
/.vs/Calculator/FileContentIndex/5c3e787f-48b2-4e64-a23e-6b5b4e1e6583.vsidx
/.vs/Calculator/FileContentIndex/82e927bf-95b6-42b8-b70e-72f98c8935ae.vsidx
/.vs/Calculator/FileContentIndex/c07e8c58-bad5-4e23-97a3-0db93b8e4e46.vsidx
/.vs/Calculator/FileContentIndex/f7fa77cb-d01e-4f56-bd8e-25f6e0b1b4be.vsidx
