################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Calculator/FileContentIndex/1e7e1af9-bfe1-4bfc-a21b-23bdf58f2902.vsidx
/.vs/Calculator/FileContentIndex/51cb3537-2a65-460d-8357-61a4177b2f80.vsidx
/.vs/Calculator/FileContentIndex/57c81b60-e0a7-4ecc-913c-9c6484e9aa21.vsidx
/.vs/Calculator/FileContentIndex/a7c169e3-1231-4c53-a254-12f715a9e76e.vsidx
/.vs/Calculator/FileContentIndex/c3abef2b-e6f9-4a04-81cd-d910871e93f7.vsidx
/.vs/Calculator/FileContentIndex/4b3d8826-5b1a-4f83-a5b5-ca3e2e7a8715.vsidx
/.vs/Calculator/FileContentIndex/5c3e787f-48b2-4e64-a23e-6b5b4e1e6583.vsidx
/.vs/Calculator/FileContentIndex/82e927bf-95b6-42b8-b70e-72f98c8935ae.vsidx
/.vs/Calculator/FileContentIndex/c07e8c58-bad5-4e23-97a3-0db93b8e4e46.vsidx
/.vs/Calculator/FileContentIndex/f7fa77cb-d01e-4f56-bd8e-25f6e0b1b4be.vsidx
/.vs/Calculator/FileContentIndex/1ca2f4f0-6bb9-449c-85e7-51389a1527be.vsidx
/.vs/Calculator/FileContentIndex/2e4c3433-a6cf-40fc-9167-e713849ce4c0.vsidx
/.vs/Calculator/FileContentIndex/531d61cb-cfee-41e8-a6b0-d656ef424350.vsidx
/.vs/Calculator/FileContentIndex/3af8fc84-5fce-481f-bd72-be131078c625.vsidx
/.vs/Calculator/FileContentIndex/3bf20cd0-25aa-4fd2-a702-04c4ee1c4469.vsidx
/.vs/Calculator/FileContentIndex/4f8b2d53-112d-45af-9647-e1811670c17c.vsidx
/.vs/Calculator/FileContentIndex/777ba1d9-2f64-4f82-a314-041d3be10f77.vsidx
/.vs/Calculator/FileContentIndex/9d60eeac-bb68-4f03-9907-b9b322933f23.vsidx
/.vs/Calculator/FileContentIndex/9554a002-2e6f-41fc-bd64-629bfcff07ff.vsidx
/.vs/Calculator/FileContentIndex/aa096a76-3599-4117-96f1-bfcc834e5083.vsidx
/.vs/Calculator/FileContentIndex/f9bf9a30-d490-4129-9b1b-3bcd9548b421.vsidx
